apiVersion: v1
kind: Service
metadata:
  name: {{ include "petclinic.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{ include "petclinic.selectorLabels" .| nindent 6}}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.port }}
